@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-yellow, A700, A200, A700);
$my-app-accent: mat-palette($mat-yellow, A700, A200, A700);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
